/*
 *  Copyright (c) 2018-present, Evgeny Nadymov
 *
 * This source code is licensed under the GPL v.3.0 license found in the
 * LICENSE file in the root directory of this source tree.
 */

.group-call-join-panel {
    position: relative;
    height: 60px;
    background: var(--panel-background);
    border-bottom: 1px solid var(--border);
    display: flex;
    align-items: center;
    padding: 0 12px;
    cursor: pointer;
    border-radius: 20px;
    margin: 5px;
    margin-top: 0px;
}

.group-call-join-panel-content {
    flex: 1 1 auto;
    margin-left: 12px;
}

.group-call-join-panel-title {
    color: var(--dialog-color);
}

.group-call-join-panel-subtitle {
    font-size: 14px;
    line-height: 19px;
    color: var(--header-subtle-color);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    user-select: text;
}

.group-call-join-panel-button {
    padding: 8px 16px 7px;
    color: white;
}
