/*
 *  Copyright (c) 2018-present, Evgeny Nadymov
 *
 * This source code is licensed under the GPL v.3.0 license found in the
 * LICENSE file in the root directory of this source tree.
 */

.emoji-picker-header {
    display: flex;
    height: 48px;
}

.emoji-picker-header-button {
    border-radius: 0;
    flex: 50%;
}

.emoji-picker-content {
    display: flex;
    flex-direction: row;
    width: 1014px;
    height: 358px;
    will-change: transform;
    transition: transform 150ms ease-out;
    overflow: hidden;
    position: relative;
}

.emoji-picker-content-stickers {
    transform: translateX(-338px);
}

.emoji-picker-content-gifs {
    transform: translateX(-676px);
}

.emoji-picker-root {
    z-index: var(--z-index-modal);
    width: 338px;
    overflow-x: hidden;
    background: var(--panel-background);
    color: var(--text-primary);
    border-radius: 20px;
    box-shadow: 0 1px 2px 0 rgba(16, 35, 47, 0.15);
    /*boxShadow: theme.shadows[8],*/
    position: absolute;
    bottom: 58px;
    display: none;
}

.emoji-picker-root-opened {
    display: block;
}
