/*
 *  Copyright (c) 2018-present, Evgeny Nadymov
 *
 * This source code is licensed under the GPL v.3.0 license found in the
 * LICENSE file in the root directory of this source tree.
 */

.footer-command .inputbox-bubble {
    margin: 0;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.footer-command .inputbox-bubble::after {
    display: none;
}

.footer-command-button {
    margin: 10px;
    min-width: 100px;
}
