/*
 *  Copyright (c) 2018-present, Evgeny Nadymov
 *
 * This source code is licensed under the GPL v.3.0 license found in the
 * LICENSE file in the root directory of this source tree.
 */

.placeholder {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
}

.placeholder-wrapper {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.placeholder-logo {
    width: 150px;
    margin-bottom: 12px;
}

.placeholder-meta {
    margin: 5px 0;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--message-service-color);
    background: var(--message-service-background);
    min-height: 24px;
    border-radius: 20px;
    font-size: 15px;
    line-height: normal;
    padding: 0 12px;
}

.placeholder-meta-wrapper {
}
