/*
 *  Copyright (c) 2018-present, Evgeny Nadymov
 *
 * This source code is licensed under the GPL v.3.0 license found in the
 * LICENSE file in the root directory of this source tree.
 */

.found-message {
    box-sizing: border-box;
    padding: 0;
    border-radius: 20px;
    margin-bottom: 4px;
}

.found-message.item-selected .dialog-wrapper {
    background: var(--color-hover);
    border-radius: 20px;
}
