/*
 *  Copyright (c) 2018-present, Evgeny Nadymov
 *
 * This source code is licensed under the GPL v.3.0 license found in the
 * LICENSE file in the root directory of this source tree.
 */

.recently-found-chat {
    padding: 12px;
    box-sizing: border-box;
    border-radius: 20px;
    margin-bottom: 4px;
}

.recently-found-chat-content {
    width: 100%;
    height: 100%;
    padding: 12px;
    box-sizing: border-box;
}
