/*
 *  Copyright (c) 2018-present, Evgeny Nadymov
 *
 * This source code is licensed under the GPL v.3.0 license found in the
 * LICENSE file in the root directory of this source tree.
 */

.reply-tile {
    margin-left: 4px;
    width: 32px;
    height: 32px;
    min-height: 32px;
    min-width: 32px;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
}

.reply-tile-photo {
    user-select: none;
    display: block;
    object-fit: cover;
    object-position: center;
    border-radius: 5px;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.reply-tile-photo-round {
    border-radius: 50%;
}
