/*
 *  Copyright (c) 2018-present, Evgeny Nadymov
 *
 * This source code is licensed under the GPL v.3.0 license found in the
 * LICENSE file in the root directory of this source tree.
 */

.audio-content {
    flex-grow: 1;
    flex-shrink: 1;
    padding: 0 9px;
    margin-right: -9px;
    overflow: hidden;
    min-width: 200px;
    position: relative;
}

.audio-slider {
    position: absolute;
    left: 9px;
    top: 12px;
    right: 9px;
}
