/*
 *  Copyright (c) 2018-present, Evgeny Nadymov
 *
 * This source code is licensed under the GPL v.3.0 license found in the
 * LICENSE file in the root directory of this source tree.
 */

.game {
    display: flex;
    flex-direction: row;
    margin-top: 5px;
    font-size: 14px;
    line-height: normal;
}

.game-wrapper {
    flex-grow: 1;
    flex-shrink: 1;
    margin-left: 8px;
    overflow: hidden;
}

.game-border {
    min-width: 2px;
    border-radius: 1px;
}

.game-title {
    color: var(--color-accent-main);
}

.message-bubble-out .game-title {
    color: var(--message-out-reply-title);
}

.game-text {
}

.game-description {
}

.game-photo {
    margin-top: 6px;
    border-radius: 20px;
    transform: translateZ(0);
    overflow: hidden;
    cursor: pointer;
}
