/*
 *  Copyright (c) 2018-present, Evgeny Nadymov
 *
 * This source code is licensed under the GPL v.3.0 license found in the
 * LICENSE file in the root directory of this source tree.
 */

.location {
    border-radius: 20px;
    overflow: hidden;
}

.location-message {
    /*border-radius: 20px;*/
    margin: -6px -9px;
}

.location-venue {
    border-radius: 20px;
    margin: -6px -9px 0;
}

.location-title {
    margin-top: 6px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.location-caption {
    margin-bottom: 6px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.location-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
}

.location-image {
    /*background: aliceblue;*/
    user-select: none;
    display: block;
    width: 100%;
    height: 100%;
}

.location-icon {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
