/*
 *  Copyright (c) 2018-present, Evgeny Nadymov
 *
 * This source code is licensed under the GPL v.3.0 license found in the
 * LICENSE file in the root directory of this source tree.
 */

.photo {
    border-radius: 20px;
    transform: translateZ(0);
    overflow: hidden;
    user-select: none;
}

.photo-big {
    margin: -6px -9px;
}

.photo-title {
    margin-top: 6px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.photo-caption {
    margin-bottom: 6px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.photo-preview {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.photo-thumbnail {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.photo-progress {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 48px;
    height: 48px;
    margin-left: -21px;
    margin-top: -21px;
    animation: spin 4s linear infinite;
    cursor: pointer;
}

.photo-progress-circle {
    stroke-linecap: round;
    color: #ffffff;
}

.photo-progress-circle-background {
    stroke-linecap: round;
    color: #ffffff;
    opacity: 0.3;
}

.photo-tile-cancel {
    height: 18px;
    width: 18px;
    stroke: #ffffff;
    /*stroke: red;*/
    stroke-width: 3px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -9px;
    margin-top: -9px;
}

.photo-tile-circle {
    height: 44px;
    width: 44px;
    opacity: 0.5;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -22px;
    margin-top: -22px;
}

.photo-src-indicator {
    width: 25px;
    height: 25px;
    left: 0;
    top: 0;
    border-radius: 50%;
    position: absolute;
    background: red;
}
