/*
 *  Copyright (c) 2018-present, Evgeny Nadymov
 *
 * This source code is licensed under the GPL v.3.0 license found in the
 * LICENSE file in the root directory of this source tree.
 */

.header-player-time {
    background: transparent;
    cursor: pointer;
    user-select: none;
    padding: 4px 12px;
}
