/*
 *  Copyright (c) 2018-present, Evgeny Nadymov
 *
 * This source code is licensed under the GPL v.3.0 license found in the
 * LICENSE file in the root directory of this source tree.
 */

.chat-info {
    border-left: 1px solid var(--border);
    background: var(--panel-background);
}

.right-column {
    position: relative;
    max-width: 25%;
    flex: 1 1 25%;
    margin: 0;
    box-sizing: border-box;
    border-radius: 20px;
    margin: 5px;
    height: -moz-calc(100% - 10px);
    height: -webkit-calc(100% - 10px);
    height: calc(100% - 10px);
    display: flex;
    flex-direction: column;
}
